<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RuneScape Top Trumps</title>
    <link rel="stylesheet" href="../static/css/app.css">
</head>
<body>
    <div class="play-area">
        <h1>Quizzy Mc Quiz Face</h1>
        <div class="question-area">
            <!-- <h1 id="playerName">PLAYER (15)</h1> -->
            <h2 id="playerCardName"></h2>
            <img id="playerCardImage">
            <p id="playerCardDescription"></p>
            <ul class="stats">
                <li><p id="potentialAnsA">A:</p><button id="ans1Button">Choose</button></li>
                <li><p id="potentialAnsB">B:</p><button id="ans2Button">Choose</button></li>
                <li><p id="potentialAnsC">C:</p><button id="ans3Button">Choose</button></li>
                <li><p id="potentialAnsD">D:</p><button id="ans4Button">Choose</button></li>
                <li><p id="potentialAnsE">E:</p><button id="ans5Button">Choose</button></li>
            </ul>
        </div>
        <!-- <h1 id="versus">VS</h1>
        <div id="compCard" class="card">
                <h1 id="opponentName">COMPUTER (15)</h1>
                <h2 id="computerCardName"></h2>
                <img id="computerCardImage">
                <p id="computerCardDescription"></p>
                <ul class="stats">
                        <li><p id="computerCardCombat">Combat level:</p></li>
                        <li><p id="computerCardAge">Age:</p></li>
                        <li><p id="computerCardHeight">Height:</p></li>
                        <li><p id="computerCardQuestFactor">Quest factor:</p></li>
                        <li><p id="computerCardYearsInGame">Years in RuneScape:</p></li>
                </ul>
        </div> -->
        <br>
        <button id="nextQuestionButton">Next Question -></button>
    </div>
    <script src="../static/js/quizLogic.js"></script>
</body>
</html>