<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/quizInsert.css">

    <title>Create a new quiz - WebbiSkools</title>
</head>
<body>
    <form action="/quiz/dashboard" method="POST">
        <label for="name">Name:</label>
        <input class="data-box" placeholder="Quiz Name" name="name" type="text" required=true>

        <label for="decription">Description:</label>
        <input class="data-box" placeholder="Quiz Description" name="description" type="text" required=true>

        <button id="submit-btn">Add Quiz</button>
    </form>
</body>
</html>